---
interface Props {
	withSidebar?: boolean;
	withTopbar?: boolean;
	withFooter?: boolean;
	sidebarWidth?: number;
}

const { withSidebar = false, withTopbar = false, withFooter = false, sidebarWidth = 256 } = Astro.props;
---

<div
	class:list={["min-h-screen", withSidebar && "grid grid-cols-1 md:[grid-template-columns:var(--sidebar-width)_1fr]"]}
	style={`--sidebar-width:${sidebarWidth}px`}
>
	{withSidebar && (
		<aside class="h-auto md:sticky md:top-0 md:h-screen">
			<slot name="sidebar" />
		</aside>
	)}

	<div>
		{withTopbar && (
			<header class="sticky top-0 z-30">
				<slot name="topbar" />
			</header>
		)}
		<main class:list={["p-6", withTopbar && "pt-4"]}>
			<slot />
		</main>
		{withFooter && (
			<footer>
				<slot name="footer" />
			</footer>
		)}
	</div>
</div>
